<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <p> {{errorMessage}} , <a href="/"> Lets Click here </a></p>
        {{>footer}}
    </body>
</html>