<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-us </title>
    <!-- Include Bootstrap CSS (you can replace this with your own styling) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include your custom CSS (if any) -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}    
    <div class="about-container">
        <img src="/img/me1.jpg" alt="My Profile Picture" class="img-fluid rounded-circle" width="200">
        <h3>Hi, This Weather Forecast Application is created by {{ name }}.</h3>
        <p>I have 3 years of experience in web development and specialize in Javascript.</p>
        <p>Throughout my career, I've had the opportunity to work on various projects and collaborate with talented teams to deliver high-quality results.</p>
        <p>Feel free to <a href="./contact">contact me</a> if you'd like to discuss potential collaborations or have any questions.</p>
    </div>

    {{> footer}}
    <!-- Include Bootstrap JS (optional) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
